language: android
sudo: false
jdk: oraclejdk8

addons:
  apt:
    packages:
      - lynx

android:
  components:
    - tools
    - platform-tools
    - build-tools-27.0.3
    - android-27

before_install:
  - yes | sdkmanager "platforms;android-27"

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/